# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyInstaller build files
build/
dist/
*.spec

# Executable and packages
*.exe
*.zip

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db